.concept-list {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  width: 80%;
}

li{
  list-style-type: none;
  padding: 20px;
  background-color: #f4f4f4;
  margin: 2px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 100;
}
